In [1]:
import pandas as pd

In [2]:
bladder_path = "/mnt/beegfs/userdata/j_wang/Algorithm_Resources/dig/downloads/mutation_files/megacohorts/Bladder_SNV.DEDUP.no_hypermut.annot.txt.gz"

In [3]:
bladder_df = pd.read_table(bladder_path, sep='\t', names=['CHROM', 'START', 'END', 'REF', 'ALT', 'SAMPLE', 'GENE', 'ANNOT', 'MUT', 'CONTEXT'])

In [4]:
bladder_df

,CHROM,START,END,REF,ALT,SAMPLE,GENE,ANNOT,MUT,CONTEXT
0,1,865616,865617,C,G,TCGA-FD-A3SM-01,AL645608.1,Missense,C>G,TCT
1,1,865616,865617,C,G,TCGA-FD-A3SM-01,SAMD11,Missense,C>G,TCT
2,1,871254,871255,G,A,TCGA-CU-A0YR-01,SAMD11,Missense,G>A,GGA
3,1,878648,878649,C,T,B47,SAMD11,Synonymous,C>T,TCT
4,1,878745,878746,G,C,TCGA-FD-A3SS-01,SAMD11,Missense,G>C,AGA
...,...,...,...,...,...,...,...,...,...,...
66489,22,51020238,51020239,C,T,TCGA-E7-A3Y1-01,CHKB,Missense,C>T,CCG
66490,22,51020724,51020725,C,T,TCGA-BT-A0YX-01,CHKB,Missense,C>T,TCG
66491,22,51044008,51044009,G,T,TCGA-FJ-A3ZE-01,MAPK8IP2,Missense,G>T,AGA
66492,22,51063877,51063878,C,T,TCGA-DK-A3WW-01,ARSA,Missense,C>T,TCA
66493,22,51182531,51182532,C,T,TCGA-CF-A3MG-01,ACR,Synonymous,C>T,TCA

In [5]:
set(bladder_df['CHROM'])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22}

In [6]:
set(bladder_df['ANNOT'])

{'Essential_Splice',
 'Missense',
 'Noncoding',
 'Nonsense',
 'Stop_loss',
 'Synonymous'}

In [7]:
import os 
import glob
from pathlib import Path

In [8]:
cohort_stat_table = []

for annot_path in glob.glob("/mnt/beegfs/userdata/j_wang/Algorithm_Resources/dig/downloads/mutation_files/megacohorts/*gz"):
    annot_path = Path(annot_path)
    cohort_name= annot_path.name.split('_')[0]
    cohort_df  = pd.read_table(annot_path, sep='\t', header=None, usecols=[5])
    cohort_stat_table.append([cohort_name, len(set(cohort_df[5]))])
    
cohort_stat_df = pd.DataFrame(cohort_stat_table, columns=['cohort', 'size'])

In [9]:
cohort_stat_df

       cohort  size
0    Prostate  2112
1     LungNSC  2131
2       Liver   748
3    Pancreas  1176
4  Esogastric  1212
5    HeadNeck   644
6      Breast  3108
7     Bladder   699
8      Kidney   778
9       Brain  1660