In [1]:
import pyBigWig as bw
import bbi

In [2]:
rt_path = "/mnt/beegfs/userdata/j_wang/Algorithm_Resources/dig/Replication_Timing/wgEncodeUwRepliSeqHelas3WaveSignalRep1.bigWig"

In [3]:
rt_fd = bbi.open(rt_path)

In [4]:
rt_fd.schema

{'name': 'bedGraph',
 'comment': '',
 'columns': ['chrom', 'start', 'end', 'value'],
 'dtypes': {'chrom': 'object',
  'start': 'uint32',
  'end': 'uint32',
  'value': 'float32'},
 'description': {'chrom': 'Reference sequence chromosome or scaffold',
  'start': 'Start position in chromosome',
  'end': 'End position in chromosome',
  'value': 'Data value'}}

In [5]:
rt_fd.chromsizes

{'chr1': 249250621,
 'chr10': 135534747,
 'chr11': 135006516,
 'chr12': 133851895,
 'chr13': 115169878,
 'chr14': 107349540,
 'chr15': 102531392,
 'chr16': 90354753,
 'chr17': 81195210,
 'chr18': 78077248,
 'chr19': 59128983,
 'chr2': 243199373,
 'chr20': 63025520,
 'chr21': 48129895,
 'chr22': 51304566,
 'chr3': 198022430,
 'chr4': 191154276,
 'chr5': 180915260,
 'chr6': 171115067,
 'chr7': 159138663,
 'chr8': 146364022,
 'chr9': 141213431,
 'chrX': 155270560}

In [6]:
rt_fd.info

{'version': 4,
 'isCompressed': True,
 'isSwapped': 0,
 'primaryDataSize': 9881795,
 'zoomLevels': 5,
 'chromCount': 23,
 'summary': {'basesCovered': 3040663810,
  'sum': 132275053031.9935,
  'mean': 43.502031561981035,
  'min': -5.460803031921387,
  'max': 85.22860717773438,
  'std': 23.422216622674977}}

In [7]:
rt_fd.fetch_intervals('chr1', 1, 100000)

   chrom  start     end      value
0   chr1  24499   25499  54.118370
1   chr1  25499   26499  54.116859
2   chr1  26499   27499  54.113842
3   chr1  27499   28499  54.109318
4   chr1  28499   29499  54.103291
..   ...    ...     ...        ...
71  chr1  95499   96499  50.175915
72  chr1  96499   97499  50.071140
73  chr1  97499   98499  49.965553
74  chr1  98499   99499  49.859196
75  chr1  99499  100000  49.752087

[76 rows x 4 columns]